{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>{{ pageTitle }}</title>
    <meta name="description" content="{{ pageDescription }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">-->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<meta name="theme-color" content="#000">
	<meta name="msapplication-navbutton-color" content="#000">
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">
</head>
<body style="background-image: url({% static 'img/main-bg.jpg' %});">
	<!-- start header -->
	<header class="header header-mob">
		<div class="wrapper">
			<div class="header-bar">
				<span></span>
			</div>
			<div class="header-logo">
				<a href="#">
					LOGOTYPE
				</a>
			</div>
		</div>
	</header>
    <!-- end header -->
<div id="app">
    {% block content %}
    {% endblock %}
</div>
{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
</body>
</html>



